@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Jost", sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.courses-item .courses-text,
.courses-list-item .courses-text {
    font-family: "Jost", sans-serif;
    position: absolute;
    width: 100%;
    height: calc(100% + 86px);
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background: linear-gradient(to bottom, rgba(18, 15, 45, 0), #120f2d);
    transition: .5s;
    z-index: 1;
}

.courses-list-item .courses-text {
    height: 100%;
}

.courses-item:hover img {
    margin-top: 0px;
}

.courses-list-item:hover img {
    transform: scale(1.2);
}

.courses-item:hover .courses-text {
    height: calc(100% + 40px);
}

.card-title {
    margin-bottom: 0.75rem;
    }

    .card-subtitle {
    margin-top: -0.375rem;
    margin-bottom: 0;
    }

.col-form-label {
    padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}

.col-form-label-lg {
    padding-top: calc(0.5rem + 1px);
    padding-bottom: calc(0.5rem + 1px);
    font-size: 1.25rem;
    line-height: 1.5;
}

.col-form-label-sm {
    padding-top: calc(0.25rem + 1px);
    padding-bottom: calc(0.25rem + 1px);
    font-size: 0.875rem;
    line-height: 1.5;
}
